<%- include('partials/header') %>

<div class="container mt-5">
    <h1>Login</h1>

    <div class="row">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-body">

                    <!-- Make post request to login route -->
                    <form action="/login" method="post">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" name="username" id="">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="">
                        </div>
                        <button type="submit" class="btn btn-dark">Login</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card social-block">
                <div class="card-body">
                    <a href="/auth/google" class="btn  btn-block btn-social btn-google" role="button">
                        <i class="fab fa-google"></i>
                        Sign Up with google
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('partials/footer') %> 